# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
*.tfplan
plan-output.txt
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.pem
*.key
.env
